.btn {
  padding: 25px 50px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  font-family: "SF Pro Text", sans-serif;
  font-size: 17px;
  width: 100%;
  text-decoration: none;
}

.btn > * {
  text-decoration: none;
  color: inherit;
}

.white {
  background: #FFFFFF;
  color: #FF460A;
}

.orange {
  background: #FA4A0C;
  color: #FFFFFF
}