.page {
  background-color: #F5F5F8;
}

.title {
  margin-bottom: 48px;
}

.section {
  margin-bottom: 20px;
}

.section:last-child {
  margin-bottom: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 30px;
}

.text {
  font-size: 17px;
}
.price {
  font-weight: 600;
  font-size: 22px;
}

.changeLink {
  position: absolute;
  right: 0;
  top: 0;
}