.slide {
  display: block;
}

.slide > img {
  height: 241px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
}

.sliderPanel {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.sliderPanel > button {
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-right: 10px;
}

.sliderPanel > button.current {
  background-color: #FA4A0C;
}

.sliderPanel > button:last-child {
  margin-right: 0;
}
